<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-5" style="width: 100%">
      <img
        src="<%= campground.image %>"
        class="card-img-top"
        alt="camp image"
      />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <small class="text-muted"><%= campground.location %></small>
        </li>
        <li class="list-group-item text-center">
          <small class="text-muted"
            >Contact
            <a href="#" class="show-author-link">
              <%= campground.user.username %>
            </a>
            for more inforamtions.</small
          >
        </li>
        <li class="list-group-item text-center">
          <%= campground.price %>€ / night
        </li>
      </ul>

      <% if (currentUser && campground.user.equals(currentUser._id)){ %>
      <div class="card-body d-flex justify-content-center align-items-center">
        <a class="btn btn-success" href="/campgrounds/<%= campground._id%>/edit"
          >Edit the camp</a
        >
        <form
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger ms-5">delete the camp</button>
        </form>
      </div>
      <% } %>

      <div class="card-footer text-muted text-center">3 days ago</div>
    </div>
  </div>

  <!-- reviews -->
  <div class="col-6">
    <% if(currentUser){ %>
    <h2 class="h2 text-center mb-4">Add a review</h2>
    <form
      action="/campgrounds/<%=campground._id%>/reviews"
      method="POST"
      class="border p-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
          required
        />
        <div class="valid-feedback">Looks fine to us</div>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review:</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="15"
          rows="5"
          required
        ></textarea>
        <div class="valid-feedback">Looks fine to us</div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <% } %>
    <!-- all reviews -->
    <div class="mt-5">
      <h2 class="text-center">
        This is how travelers before you reviewed this camp
      </h2>
      <% for (let review of campground.reviews) {%>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-title">Rating: <%= review.rating%></p>
          <p class="card-subtitle">Review by: <%= review.user.username %></p>
          <p class="card-body"><%=review.body%></p>
          <% if(currentUser && review.user.equals(currentUser._id)) {%>
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%=review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>

          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
